apiVersion: apps/v1
kind: Deployment
metadata:
  name: imagegallery-idp-app
spec:
  selector:
    matchLabels:
      app: imagegallery-idp-app
  replicas: 1
  template:
    metadata:
      labels:
        app: imagegallery-idp-app
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "imagegallery-idp"
        dapr.io/app-port: "443"
        dapr.io/app-ssl: "true"
        dapr.io/enable-metrics: "true"
        dapr.io/metrics-port: "9090"        
    spec:      
      volumes:
      - name: pfx-volume
        secret:
          secretName: assistdevtest-com-pfx
      containers:
      - name: imagegallery-idp
        image: tmather99/imagegallery-idp:v8
        volumeMounts:
        - name: pfx-volume
          mountPath: /https
        ports:
        - containerPort: 443
        resources:
          limits:
            memory: "128Mi"
            cpu: "200m"  
        imagePullPolicy: Always
        env:
          - name: SEQ_SERVER_URL
            value: "http://seq-service"        
          - name: ASPNETCORE_URLS
            value: "https://+:443"        
          - name: ASPNETCORE_Kestrel__Certificates__Default__Path
            value: "/https/assistdevtest-com.pfx"        
          - name: ASPNETCORE_Kestrel__Certificates__Default__Password
            valueFrom:
              secretKeyRef:
                name: pfx-passwords
                key: assistdevtest-com-pfx-password
          - name: Client__RedirectUris
            value: "https://client.assistdevtest.com/signin-oidc"
          - name: Client__PostLogoutRedirectUris
            value: "https://client.assistdevtest.com/signout-callback-oidc"
          - name: ConnectionStrings__GlobomanticsDb
            value: "Server=sql.assistdevtest.com;Database=Globomantics;User Id=sa;Password=AssistJedi2023;MultipleActiveResultSets=true;TrustServerCertificate=True"
          - name: ConnectionStrings__DistributedCache
            value: "jedi-staging-iris-redis.nsg6a7.ng.0001.apne1.cache.amazonaws.com:6379"
---
apiVersion: v1
kind: Service
metadata:
  name: imagegallery-idp-service
spec:
  selector:
    app: imagegallery-idp-app  
  ports:
    - protocol: TCP 
      port: 443
      targetPort: 443
  type: ClusterIP
